@import 'reset';
@import 'modular-scale';
@import 'config/sizes_and_proportions';
@import 'config/vertical_rhythm';
@import 'config/fonts';

@mixin ms-leader($lines: 1) {
  margin-top: ms($lines, $base-leader);
}

@mixin ms-trailer($lines: 1) {
  margin-bottom: ms($lines, $base-leader);
}

// Sizes definitions: helper
@mixin ms-sizes($scale, $leader: 0.5, $trailer: -0.5) {
  @if $scale {
    $size: ms($scale);
    font-size: $size;
    @include adjust-font-size-to($size);
  }
  @if $leader {
    @include ms-leader($leader);
  }
  @if $trailer {
    @include ms-trailer($trailer);
  }
}

@import 'normalization';
