/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'reset';
@import 'config/modular_scale';
@import 'config/vertical_rhythm';
@import 'config/fonts';

@mixin ms-leader($lines: 1) {
  margin-top: ms($lines, $base-leader);
}

@mixin ms-trailer($lines: 1) {
  margin-bottom: ms($lines, $base-leader);
}

// Sizes definitions: helper
@mixin ms-sizes($scale, $leader: 0.5, $trailer: -0.5) {
  @if $scale {
    $size: ms($scale);
    font-size: $size;
    @include adjust-font-size-to($size);
  }
  @if $leader {
    @include ms-leader($leader);
  }
  @if $trailer {
    @include ms-trailer($trailer);
  }
}

@import 'normalization';
