// Sizes and ratio
// Don't override these variables!!!
$base-size: 14px;
$ms-scale: golden();
$base-font-size: $base-size;
$base-line-height: ms(0.5);
$round-to-nearest-half-line: true;

@include establish-baseline;
