@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_reset.scss */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}

/* line 10, ../sass/_reset.scss */
mark {
  background: transparent 0% 0% repeat scroll none;
  color: inherit;
}

/* line 15, ../sass/_reset.scss */
u, ins {
  text-decoration: none;
}

/* line 61, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../home/izietto/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.25em;
}

/* line 2, ../sass/normalization.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 20px;
}

/* line 10, ../sass/normalization.scss */
[hidden] {
  display: none;
}

/* line 14, ../sass/normalization.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 18, ../sass/normalization.scss */
h1 {
  font-size: 33px;
  font-size: 2.0625em;
  line-height: 1.21212em;
  margin-top: 0.63601em;
  margin-bottom: 0.39308em;
}

/* line 22, ../sass/normalization.scss */
h2 {
  font-size: 26px;
  font-size: 1.625em;
  line-height: 1.15385em;
  margin-top: 0.63601em;
  margin-bottom: 0.39308em;
}

/* line 26, ../sass/normalization.scss */
h3 {
  font-size: 20px;
  font-size: 1.25em;
  line-height: 1.5em;
  margin-top: 0.63601em;
  margin-bottom: 0.39308em;
}

/* line 30, ../sass/normalization.scss */
h4 {
  font-size: 16px;
  font-size: 1em;
  line-height: 1.25em;
  margin-top: 0.63601em;
  margin-bottom: 0.39308em;
}

/* line 34, ../sass/normalization.scss */
h5 {
  font-size: 13px;
  font-size: 0.8125em;
  line-height: 1.53846em;
  margin-top: 0.63601em;
  margin-bottom: 0.39308em;
}

/* line 38, ../sass/normalization.scss */
h6 {
  font-size: 10px;
  font-size: 0.625em;
  line-height: 2em;
  margin-top: 0.63601em;
  margin-bottom: 0.39308em;
}

/* line 42, ../sass/normalization.scss */
p, ul, ol {
  margin-top: 0.63601em;
  margin-bottom: 0.63601em;
}

/* line 47, ../sass/normalization.scss */
ul, ol {
  padding-left: 20px;
}

/* line 51, ../sass/normalization.scss */
ul {
  list-style: disc;
}

/* line 55, ../sass/normalization.scss */
ol {
  list-style-type: decimal;
}

/* line 60, ../sass/normalization.scss */
ul ul, ol ul {
  list-style: circle;
}

/* line 67, ../sass/normalization.scss */
ul ul ul, ul ol ul, ol ul ul, ol ol ul {
  list-style: square;
}

/* line 73, ../sass/normalization.scss */
address, i, em, dfn, cite, var {
  font-style: italic;
}

/* line 78, ../sass/normalization.scss */
a:link, a:visited, a:hover, a:focus, a:active {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

/* line 85, ../sass/normalization.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 89, ../sass/normalization.scss */
b, strong {
  font-weight: bold;
}

/* line 93, ../sass/normalization.scss */
code, kbd, pre, samp {
  font-family: monospace, sans-serif;
}

/* line 97, ../sass/normalization.scss */
del {
  text-decoration: line-through;
}

/* line 101, ../sass/normalization.scss */
mark {
  color: black;
  background: none repeat scroll 0 0 yellow;
}

/* line 106, ../sass/normalization.scss */
q {
  quotes: "“" "”" "‘" "’";
}
/* line 108, ../sass/normalization.scss */
q:before {
  content: open-quote;
}
/* line 111, ../sass/normalization.scss */
q:after {
  content: close-quote;
}

/* line 116, ../sass/normalization.scss */
small {
  font-size: 13px;
  font-size: 0.8125em;
  line-height: 1.53846em;
}

/* line 120, ../sass/normalization.scss */
u, ins {
  text-decoration: underline;
}

/* line 124, ../sass/normalization.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 130, ../sass/normalization.scss */
sup {
  top: -0.5em;
}

/* line 134, ../sass/normalization.scss */
sub {
  bottom: -0.25em;
}

/* line 138, ../sass/normalization.scss */
blockquote {
  font-style: italic;
  margin: 20px;
}

/* line 143, ../sass/normalization.scss */
dd {
  margin-left: 20px;
}

/* line 147, ../sass/normalization.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 151, ../sass/normalization.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 156, ../sass/normalization.scss */
table {
  border-collapse: separate;
  border-spacing: 13px;
}

/* line 161, ../sass/normalization.scss */
caption, th {
  text-align: center;
  font-weight: bold;
}

/* line 166, ../sass/normalization.scss */
label {
  cursor: pointer;
}

/* line 170, ../sass/normalization.scss */
button, input {
  line-height: normal;
}

/* line 174, ../sass/normalization.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 180, ../sass/normalization.scss */
input[type="checkbox"], input[type="radio"] {
  padding: 0;
}

/* line 184, ../sass/normalization.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 189, ../sass/normalization.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

/* line 193, ../sass/normalization.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 197, ../sass/normalization.scss */
fieldset {
  border: 1px solid #C0C0C0;
  margin-top: 0.63601em;
  margin-bottom: 0.63601em;
  padding: 20px;
}

/* line 204, ../sass/normalization.scss */
legend {
  border: 0 none;
  padding: 0 16px;
}
